BOT_TOKEN=ADD_HERE_YOUR_TELEGRAM_BOT_TOKEN
API_KEY=ADD_HERE_YOUR_API_KEY_FOR_GEMINI    # if don't have yet -> https://makersuite.google.com/app/apikey
API_KEY_IDB=ADD_HERE_YOUR_KEY  # if don't have yet ->  https://llm.mdb.ai
API_KEY_FIREWORKS=ADD_HERE_YOUR_KEY # https://fireworks.ai/account/api-keys
API_KEY_OPENAI=ADD_HERE_YOUR_KEY
IDB_BASE=https://llm.mdb.ai
DATABASE=YOUR_DATABASE
DB_HOST=YOUR_HOST  # 127.0.0.1
DB_USER=YOUR_USER
DB_PASSWORD=YOUR_PASSWORD
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0